<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.simulizar.extension.factory">
      <component
            factory="org.palladiosimulator.simulizar.qualitygate.di.QualitygateExtensionComponent$EclipseFactory">
      </component>
   </extension>
   <extension
         point="org.palladiosimulator.simulizar.extension.factory">
      <component
            factory="org.palladiosimulator.simulizar.qualitygate.di.QualitygateRootExtensionComponent$EclipseFactory">
      </component>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.palladiosimulator.simulizar.qualitygate.visualization.piechart.QualitygatePieChartVisualizationInputFactory"
            id="org.palladiosimulator.simulizar.qualitygate.visualization.piechart.QualitygatePieChartVisualizationInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.simulizar.qualitygate.visualization.barchart.QualitygateBarchartVisualizationInputFactory"
            id="org.palladiosimulator.simulizar.qualitygate.visualization.barchart.QualitygateBarchartVisualizationInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.simulizar.qualitygate.visualization.severity.QualitygateSeverityVisualizationInputFactory"
            id="org.palladiosimulator.simulizar.qualitygate.visualization.severity.QualitygateSeverityVisualizationInputFactory">
      </factory>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.visualization.datasink">
      <datasink
            class="org.palladiosimulator.simulizar.qualitygate.visualization.piechart.QualitygatePieChartVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.simulizar.qualitygate.visualization.piechart.QualitygatePieChartVisualizationInputFactory"
            id="org.palladiosimulator.simulizar.qualitygate.visualization.piechart.QualitygatePieChartVisualizationInput">
      </datasink>
      <datasink
            class="org.palladiosimulator.simulizar.qualitygate.visualization.barchart.QualitygateBarchartVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.simulizar.qualitygate.visualization.barchart.QualitygateBarchartVisualizationInputFactory"
            id="org.palladiosimulator.simulizar.qualitygate.visualization.barchart.QualitygateBarchartVisualizationInput">
      </datasink>
      <datasink
            class="org.palladiosimulator.simulizar.qualitygate.visualization.severity.QualitygateSeverityVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.simulizar.qualitygate.visualization.severity.QualitygateSeverityVisualizationInputFactory"
            id="org.palladiosimulator.simulizar.qualitygate.visualization.severity.QualitygateSeverityVisualizationInput">
      </datasink>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.datastream.chainDescription">
      <chainDescription
            id="org.palladiosimulator.simulizar.qualitygate.visualization.piechart"
            name="Qualitygate Evaluation Result">
         <datasink
               sinkID="org.palladiosimulator.simulizar.qualitygate.visualization.piechart.QualitygatePieChartVisualizationInput">
         </datasink>
      </chainDescription>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.datastream.chainDescription">
      <chainDescription
            id="org.palladiosimulator.simulizar.qualitygate.visualization.barchart"
            name="Failure Propagation Evaluation">
         <datasink
               sinkID="org.palladiosimulator.simulizar.qualitygate.visualization.barchart.QualitygateBarchartVisualizationInput">
         </datasink>
      </chainDescription>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.datastream.chainDescription">
      <chainDescription
            id="org.palladiosimulator.simulizar.qualitygate.visualization.severity"
            name="Failure Severity Analysis">
         <datasink
               sinkID="org.palladiosimulator.simulizar.qualitygate.visualization.severity.QualitygateSeverityVisualizationInput">
         </datasink>
      </chainDescription>
   </extension>
</plugin>
